In [1]:
import pandas as pd

url="http://pi.works/country_vaccinations_dataset"
df=pd.read_csv(url)
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

## Q4

In [2]:
df['daily_vaccinations']= df['daily_vaccinations'].fillna(df.groupby('country')['daily_vaccinations'].transform('min'))
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(0)
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

## Q5

In [3]:
top3=df.groupby(['country'],as_index=False).daily_vaccinations.median()
top3.nlargest(3,'daily_vaccinations')

          country  daily_vaccinations
58  United States            378253.0
8           China            276786.0
24          India            173922.0

## Q6

In [11]:
from datetime import datetime
import numpy as np
df['date'] = pd.to_datetime(df['date'])
start_date ="1/6/2021"
f_start_date = df["date"] == start_date
filtered_dates = df.loc[f_start_date]
filtered_dates['daily_vaccinations'].sum()

1485255.0